WCFServiceClient/Service References/ServiceReference/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WeathersCo">
    <xs:sequence>
      <xs:element minOccurs="0" name="apiVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="data" nillable="true" type="tns:WeathersCo.WeathersCoData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WeathersCo" nillable="true" type="tns:WeathersCo" />
  <xs:complexType name="WeathersCo.WeathersCoData">
    <xs:sequence>
      <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="day" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="humidity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="skytext" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="temperature" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="wind" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WeathersCo.WeathersCoData" nillable="true" type="tns:WeathersCo.WeathersCoData" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="LastLogin" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
</xs:schema>